.category{
    display: flex;
    flex-direction: column;
    width:250px;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.7);
}
.sidebar-header{
    padding: 15px 10px;
    border-bottom: 3px solid #ddd;
    font-weight: bold;
}
.category-list{
    
    display: flex;
    flex-direction: column;
    list-style: none;
    cursor: pointer;
    z-index: 1000;
}
.category-list li{
    display: block;
    padding: 15px 25px;
    border-bottom:1px solid #ddd;
}