@import url('https://fonts.googleapis.com/css?family=Aclonica');
*{
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
}

.motto{
    display: block;
    background-color: paleturquoise;
    border: 1px solid rgb(34, 32, 32);
    padding: 10px 0;
    margin: 12px;
    text-align: center;
    font-family: 'Aclonica', sans-serif;
}
.main-content{
   padding: 20px;
   display: flex;     
}
.items-block{
    padding: 15px 20px;
    flex-grow: 1;
}

