@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
.navbar{
    position: fixed;
    top:0;
    width: 100%;
    padding:10px 20px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 14px 0 rgb(190, 189, 189);
    z-index: 100;
    h1{
        font-family: 'Luckiest Guy', cursive;
        font-size: 40px;
        margin: 0 15px;
        margin-right: auto;
        font-weight: 500;
        color: #5B2434;
        span{
            color: #D1920D;
        }
    }
}

.navbar-link{
    text-decoration: none;
    color: #5B2434;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px;
    margin: 8px;
    transition: all 0.2s;
}
.navbar-link:hover{
    opacity: 0.7;
}
.navbar  .navbar-link:first-of-type{
    border: 2px solid #5B2434;
    border-radius: 4px;
}
.navbar  .navbar-link:nth-of-type(2){
    //margin-right: auto;
    background-color: #5B2434;
    border: 2px solid #5B2434;
    color: #fff;
    border-radius: 4px;
}
.laptop-navbar{
    display: none;
}
.mobile-navbar{
    display: flex;
}
.dropdown{
    display: none;
    position: absolute;
    top: 80px;
    right: 20px;
    width: 200px;
    background: #fff;
    box-shadow: 0 0 5px 0 #ddd;
    padding: 10px;
    z-index: 1000;
}
.bars{
    color: #5B2434;
    cursor: pointer;
    padding: 5px 10px;;
    border-radius: 5px;
    border:1px solid #5B2434;
    background: transparent;
}
.dropdown-active{
    display: flex;
    flex-direction: column-reverse;
}
@media (min-width: $mobile){
    .laptop-navbar{
        display: flex;
    }
    .mobile-navbar{
        display: none;
    }
}