
.Header{
    position: relative;
    width: 100%;
    height: 300px;
    color: #fff;
    background-color: rgb(54, 53, 53);
}
.Navbar{
    padding:20px;
}
.Navbar ul{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.Navbar li {
    list-style: none;
    display: inline;
    margin:0 15px;
}
.Navbar li:first-of-type{
    margin-right: auto;
}
.Navbar li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
.PinkCircle{
    position: absolute;
    left: 30px;
    width: 100px;
    height: 100px;
    background-color: palevioletred;
    border-radius: 50%;
}
.BlueCircle{
    osition: absolute;
    left: 30px;
    width: 70px;
    height: 70px;
    background-color: blue;
    border-radius: 50%;
}
.YellowCircle{
    osition: absolute;
    left: 50px;
    width: 30px;
    height: 30px;
    background-color: rgb(188, 216, 112);
    border-radius: 50%;
}
.Header h1{
    display: inline-block;
    margin: auto;
}
